@import url('https://fonts.googleapis.com/css2?family=Exile&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

body {
 background-image: radial-gradient( circle farthest-corner at 50.2% 50.7%,  rgba(241,168,179,1) 0%, rgba(254,246,233,1) 90% );
 
  color: white;
  scroll-behavior: smooth;
  overflow-x: hidden;
}